{% extends 'recipe/base.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}

  <form action="/users/edit/{{ users.id }}/" method="POST">     
    {% csrf_token %}
    <div class="input">
      <div class="blockinput">
        <label for="username">Имя:</label>
        <input type="text" name="username" placeholder={{ users.username }} />
      </div>
      <div class="blockinput">
        <label for="username">Почта:</label>        
        <input type="email" name="email" placeholder={{ users.email }} />
      </div>

      <div class="blockinput">
        <label for="username">Телефон:</label>
        <input type="text" name="phone" placeholder={{ users.phone }} />
      </div>

      <div class="blockinput">
        <label for="username">Адрес:</label>
        <input type="text" name="address" placeholder={{ users.address }} />
      </div>

    </div>
    <div>
      <input class="in_submit" type="submit" value="Сохранить изменения" />
    </div>
  </form>
{% endblock %}
